<footer class="footer">
  <div class="padding">
    <div class="footer-inner">
      <a class="logo" href="#">
        <img src="assets/imgs/logo-white.svg" alt="">
      </a>

      <div class="footer__menu-nav footer-menu">
        <div class="footer__title">
          <h3>Products</h3>
        </div>

        <ul class="footer__menu-list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              Open Banking Payments
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Card Payments
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Checkout Form
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Bank Payouts
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Card Payouts
            </a>
          </li>
          <li>
            <a href="#" class="footer__link">
              Financial AI Toolset
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Sign in via Bank
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__title">
          <h3>Developers</h3>
        </div>

        <ul class="footer__menu-list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              Noda Pay tech documentation
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Open-Banking Demo
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Log In To Hub  <img src="assets/imgs/logo_hub.svg" alt="">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__title">
          <h3>Pricing</h3>
        </div>

        <ul class="footer__menu-list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              Pricing
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <div class="footer__title">
          <h3>Pricing</h3>
        </div>

        <ul class="footer__menu-list">
          <li class="footer__item">
            <img src="assets/imgs/ic-linkedin.svg" alt="">

            <a href="#" class="footer__link">
              Linked in
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link-btn" href="#">
              Contact sales
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
