.input,
.p-dropdown-label {
  border-radius: 4px;
  min-height: 56px;
  width: 100%;
  font-family: 'Archivo';
  font-size: 17px;
  font-weight: 600;
  caret-color: var(--noda-color-additional-primary-light, #4A16B5);
  border: 2px solid transparent;

  &:hover {
    border: 2px solid transparent;
  }

  &:focus {
    border: 2px solid var(--noda-color-elements-primary, #6936D3);
    box-shadow: none;
  }
}
