.start {
  padding: 7% 0 9% 0;
  background: var(--noda-color-primary-bg, #29304D);
  color: var(--noda-white, #FFF);

  &-inner {
    display: flex;
    gap: 40px;
  }

  &-block-text {
    margin-bottom: 40px;
    font-size: 1.4em;
    font-weight: 400;
  }

  .block-text {
    max-width: 457px;
  }
}

.swiper-start {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .start {
    &-inner {
      flex-direction: column;
    }
  }
}
