:root {
  --noda-plum: #6936D3;
  --noda-gray: #F7F9FC;
  --noda-d-gray: #E8EAF3;
  --noda-white: #fff;

  --noda-color-additional-primary-light: #947AFF;
  --noda-color-purple-primary-light: #6936D3;
  --noda-color-active-btn-bg: #4A16B5;

  --noda-color-disabled-btn-bg: #C9CCD8;
  --noda-color-primary-bg: #29304D;
  --noda-color-bg-100: #F7F9FC;
  --noda-color-black: #171B2C;
}
